@import '../../index.css';

.board-cell__cell {
  height: var(--cell-size);
  width: var(--cell-size);
  text-align: center;
  margin: calc((var(--title-size) / 4));
  font-size: var(--title-size);
  border-radius: calc(var(--title-size) / 8);
}

.board {
  display: inline-block;
  margin: calc(var(--title-size) / 2);
  padding: var(--title-size);
  border: solid 2px var(--dark-color);
  background-color: var(--light-color);
  border-radius: var(--title-size);
}

.board-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.board-cell__cell--success{
  background-color: var(--success-color) !important;
}

.board-cell__cell--failure {
  background-color: var(--failure-color) !important;
}